<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Wireless data simulation</title>
  <link href="https://fonts.googleapis.com/css?family=Spirax" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap" rel="stylesheet">
  <link href="./HFont/Helvetica Neu Bold.ttf" rel="stylesheet">
  <link rel="stylesheet" href="/main.css">
</head>

<body>
  <div id="minusOpacity">
    <div class="app">
      <div id="headerbar">
        <div id="oneOf2row">
          <img class="edaLogo" src="../images/home_routing.gif" alt="wireless image">
        </div>
        <div id="twoOf2row">
          <h1 class="title">D<i>ata</i>Sim</h1>
        </div>
      </div>
      <div id="navbox">
        <a class="nav" href="/profiles">Home</a>
        <a class="nav" href="/create">Add Profile</a>
      </div>
    </div>
    <div><h2 id="seperator">Individual files from data.jason</h2></div>
     {{{body}}}
  </div>
 
</body>

</html>