body {
  /* background: url('./images/devs.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: repeat; */
  /* font-family: 'Spirax', cursive; */
  background-color: #f2f5f5;
  font-family: 'EDA Book Slab', serif;
  color: white;
}
#minusOpacity {
  height: 100vh;
  background-color: #fcfcfc;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3%;
  justify-content: center;
  align-items: center;
}

.app {
    background-color: #d0efde;
    display: flex;
    align-items: center;
    margin-bottom: 48px;
    border-radius: 4px;
}

.puppy-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  background-color: #155165;
  border: 1px solid #48aca6;
  margin: auto;
  padding: 16px;
  border-radius: 7px;
  opacity: 0.86;
}
.puppy-list:hover {
  opacity: 1;
}

.puppy {
  display: flex;
  width: 90%;
  margin: 0 auto;
  background-color: beige;
  border-radius: 8px;
}

.img-circle {
  border-radius: 50%;
  object-fit: cover;
  width: 140px;
  height: 140px;
  box-shadow: 3em
}
.img-circle:hover {
  border-radius: 12%;  
  transition-duration: 100ms;
  box-shadow: #b894a0;
  background-color: #9b415f;
}

.title {
  color: #155165;
  text-align: center;
  font-weight: normal;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav {
  text-align: center;
  color: white;
  height: 25px;
  padding: 0 15px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}
.form-item {
  background-color: lightsteelblue;
  padding: 2px 8px;
  color: black;
}

.writeBox {
  width: 98%;
}

h1 {
  font-family: 'Helvetica Neu Bold', sans-serif;
  font-size: 1.6em;

}
h2 {
  letter-spacing: 0.05em;
  font-family: 'Helvetica Neu Bold', sans-serif;
}

a {
    color: lightskyblue;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;

}

h4{
  width: 100%;
  display: flex; 
  font-size: 1.3em;
  align-self: flex-start;
  letter-spacing: 0.02em;
  color: #155165;
  text-decoration: none;
  padding-top: 5px;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
}
.objName {
  color: white;
  font-size: 1em;
}

p{
  background-color: rgba(255, 255, 253, 0.33);
  line-height: 1.65em;
  letter-spacing: 0.03em;
  padding: 22px;
  margin: 10px;
  font-size: 1em;
  border-radius: 4px;
  color: #444950;
  font-family: Helvetica, sans-serif;

}
#bioPar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.oneCflex {
  background-color: #d0efde;
  border: solid #d3e7e4;
  padding: 22px;
}
#profileName {
  color: black;
  font-weight: normal;
  font-size: 1em;
  text-align: center;
  letter-spacing: 0;
}
.wrapCflex {
  display: flex;
  flex-wrap: wrap;
  padding: 0 22px;
  justify-content: flex-end;
}
.bioText {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
.bioLink {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  font-weight: normal;
  font-size: 1em;
  margin-top: 27px;
  letter-spacing: 0.02em;
  text-align: right;
  font-style: italic;
  border-radius: 2px;
  color: #619196;
  text-decoration: underline;
}

.form {
  height: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

#labelBox {
  display: flex;
  flex-flow: column;
  padding: 20px;
  width: 360px;
  align-items: space-between;
}

#labelBox, input {
  padding: 8px;
  margin: 8px 0;
  margin-left: 0;
  width: 60%;
  background-color: ghostwhite;
  font-size: 1em;
  display: flex;
  border-radius: 6px;
  border: 0;
  justify-content: space-between;

}

.submit {
  display: flex;
  justify-content: center;
  background-color: gainsboro;
  width: 200px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px;  
  text-align: center;
}

.scrollable {
  width: 400px;
  height: 250px;
  overflow: auto; 
  text-overflow: ellipsis;

}
#headerbar {
  display: flex;
  height: 56px;
  justify-content: space-between;
  width: 26%;
  padding-right: 16px;
  align-items: center;
}
.edaLogo {
  width: 58%;
  margin-left: 16%;
}
#oneOf2row {
  width: auto;
}
#twoOf2row {
  width: 60%;
  margin-left: -22px;
}
.submit:hover {
  background-color: #77A7FF;
  cursor: pointer;
}
.nav {
  margin: 12px;
  font-weight: normal;
}
.nav:hover {
  color: #2f303d;
  cursor: pointer;
  text-decoration-color: #243435;
}
#navbox {
  display: flex;
  width: auto;
  background-color: #a7c2bd;
  align-items: center;
  width: 100%;
  margin: 8px;
}
#seperator {
  color: rgb(92, 99, 102);
  z-index: 9999;
  font-family: Roboto;
  font-weight: normal;
  font-size: 1.1em;
  letter-spacing: 0;
}
